Poltry_Project/Connected Services/Poultry_Hub_SR/Poltry_Hub1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Poultry" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Poultry" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Add_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Is_Active" type="xs:int" />
      <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="User_Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Role_Id" type="xs:int" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User_Role" nillable="true" type="tns:User_Role" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Add_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Category_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image_Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Is_Active" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Supplier_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="ArrayOfProvince">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Province" nillable="true" type="tns:Province" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProvince" nillable="true" type="tns:ArrayOfProvince" />
  <xs:complexType name="Province">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Province" nillable="true" type="tns:Province" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Postal_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="Cart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Add_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image_Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Is_Active" type="xs:int" />
      <xs:element minOccurs="0" name="Is_Purchased" type="xs:int" />
      <xs:element minOccurs="0" name="Item_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cart" nillable="true" type="tns:Cart" />
  <xs:complexType name="ArrayOfCart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cart" nillable="true" type="tns:Cart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCart" nillable="true" type="tns:ArrayOfCart" />
  <xs:complexType name="Trasportation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Add_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Customer_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Delivery_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Driver_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Due_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Is_Cancelled" type="xs:int" />
      <xs:element minOccurs="0" name="Is_Delivered" type="xs:int" />
      <xs:element minOccurs="0" name="Transaction_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Unique_Transaction_Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trasportation" nillable="true" type="tns:Trasportation" />
  <xs:complexType name="ArrayOfTypes_Of_Chick">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Types_Of_Chick" nillable="true" type="tns:Types_Of_Chick" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTypes_Of_Chick" nillable="true" type="tns:ArrayOfTypes_Of_Chick" />
  <xs:complexType name="Types_Of_Chick">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Types_Of_Chick" nillable="true" type="tns:Types_Of_Chick" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Add_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Business_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Cart_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Customer_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Estimated_Delivery_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Is_Delivered" type="xs:int" />
      <xs:element minOccurs="0" name="Is_Delivery_Accepted" type="xs:int" />
      <xs:element minOccurs="0" name="Unique_Transaction_Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="ArrayOfTrasportation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trasportation" nillable="true" type="tns:Trasportation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrasportation" nillable="true" type="tns:ArrayOfTrasportation" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
</xs:schema>