Poltry_Project/Connected Services/Poultry_Hub_SR/Poltry_Hub.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://poultryhub-001-site1.ftempurl.com/Poltry_Hub.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Poultry" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="u" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Profile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="u" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_ProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_ProfileResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Change_Password">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="u" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Change_PasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Change_PasswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Role">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_RoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_RoleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_User_Role">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="ur" nillable="true" type="q4:User_Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_User_RoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_User_RoleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_UserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_UserResult" nillable="true" type="q5:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Item">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="it" nillable="true" type="q6:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_ItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_ItemResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_Item">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_ItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_All_ItemResult" nillable="true" type="q7:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Item_By_Id">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Item_By_IdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Item_By_IdResult" nillable="true" type="q8:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Item_By_Category_Id">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cat_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Item_By_Category_IdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Item_By_Category_IdResult" nillable="true" type="q9:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_Provinces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_ProvincesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_All_ProvincesResult" nillable="true" type="q10:ArrayOfProvince" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Address">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="ad" nillable="true" type="q11:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_AddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_AddressResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_Address">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="ad" nillable="true" type="q12:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_AddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Edit_AddressResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Address">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_AddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_AddressResult" nillable="true" type="q13:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Items_Suggestions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Items_SuggestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Items_SuggestionsResult" nillable="true" type="q14:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Item_To_Cart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="c" nillable="true" type="q15:Cart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Item_To_CartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_Item_To_CartResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove_Item_From_Cart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cart_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove_Item_From_CartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Remove_Item_From_CartResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_Cart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_CartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_User_CartResult" nillable="true" type="q16:ArrayOfCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Updaate_Cart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="carts" nillable="true" type="q17:ArrayOfCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Updaate_CartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Updaate_CartResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Make_Transaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Make_TransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Make_TransactionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Make_Delivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="t" nillable="true" type="q18:Trasportation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Make_DeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Make_DeliveryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_Transportation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="trans" nillable="true" type="q19:Trasportation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_TransportationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Edit_TransportationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Driver_Cancel_Transportation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Unique_Transaction_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Driver_Cancel_TransportationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Driver_Cancel_TransportationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Number_Of_Items_In_User_Cart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Number_Of_Items_In_User_CartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Number_Of_Items_In_User_CartResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_Types_Of_Chicks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_Types_Of_ChicksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_All_Types_Of_ChicksResult" nillable="true" type="q20:ArrayOfTypes_Of_Chick" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Track_Orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Track_OrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Track_OrdersResult" nillable="true" type="q21:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Transactions_History">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Transactions_HistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Transactions_HistoryResult" nillable="true" type="q22:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_Transaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_TransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Single_TransactionResult" nillable="true" type="q23:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_Cart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_CartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Single_CartResult" nillable="true" type="q24:Cart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Orders_To_Be_Delevered">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Orders_To_Be_DeleveredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Orders_To_Be_DeleveredResult" nillable="true" type="q25:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_Province">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_ProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Single_ProvinceResult" nillable="true" type="q26:Province" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_Delivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_DeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Single_DeliveryResult" nillable="true" type="q27:Trasportation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Driver_Deliveies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Driver_DeliveiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Driver_DeliveiesResult" nillable="true" type="q28:ArrayOfTrasportation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Driver_Deliveies_History">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Driver_Deliveies_HistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Driver_Deliveies_HistoryResult" nillable="true" type="q29:ArrayOfTrasportation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delivered">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliveredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeliveredResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_Role">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_RoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_User_RoleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_Trasnsaction_History">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_Trasnsaction_HistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_User_Trasnsaction_HistoryResult" nillable="true" type="q30:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Business_Orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Business_OrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Business_OrdersResult" nillable="true" type="q31:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Business_Single_Orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Order_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Business_Single_OrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Business_Single_OrdersResult" nillable="true" type="q32:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Business_To_Be_Delivered_Orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Business_To_Be_Delivered_OrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Business_To_Be_Delivered_OrdersResult" nillable="true" type="q33:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Business_Single_Orders_To_Be_Delivered">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Order_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Business_Single_Orders_To_Be_DeliveredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Business_Single_Orders_To_Be_DeliveredResult" nillable="true" type="q34:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Business_Delivered_Orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Business_Delivered_OrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Business_Delivered_OrdersResult" nillable="true" type="q35:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Business_Single_Delivered_Orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Order_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Business_Single_Delivered_OrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Business_Single_Delivered_OrdersResult" nillable="true" type="q36:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_Driver_By_Transaction_Id">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Transa_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_Driver_By_Transaction_IdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_User_Driver_By_Transaction_IdResult" nillable="true" type="q37:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_Items">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_ItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_User_ItemsResult" nillable="true" type="q38:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Chick_Category">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Chick_CategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Chick_CategoryResult" nillable="true" type="q39:Types_Of_Chick" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_Item">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="i" nillable="true" type="q40:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_ItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Edit_ItemResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Users_By_Role">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="role" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Users_By_RoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Users_By_RoleResult" nillable="true" type="q41:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_Orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_OrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_User_OrdersResult" nillable="true" type="q42:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_Delevered_Orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_Delevered_OrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_User_Delevered_OrdersResult" nillable="true" type="q43:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_Transportation_Details">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_Transportation_DetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Single_Transportation_DetailsResult" nillable="true" type="q44:Trasportation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Category">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="tc" nillable="true" type="q45:Types_Of_Chick" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_CategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_CategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Category">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_CategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_CategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Item">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_ItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_ItemResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_Category">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="tc" nillable="true" type="q46:Types_Of_Chick" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_CategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Edit_CategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_Category">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_CategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_Single_CategoryResult" nillable="true" type="q47:Types_Of_Chick" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_Users">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_UsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_All_UsersResult" nillable="true" type="q48:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_Cart">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_CartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_All_CartResult" nillable="true" type="q49:ArrayOfCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_Transaction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_TransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Poultry" minOccurs="0" name="Get_All_TransactionResult" nillable="true" type="q50:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>